.buttonRow {
	white-space: nowrap;
	overflow-x: scroll; /* consistent height on all buttonRows, scrollable or not */
	margin: 0 0.2rem 0 -1.3rem; /* leave 0.2rem whitespace boundaries */
	padding: 1rem 1.5rem;
}
